div.osio {
    width: 30%;
    border: solid cyan;
    border-radius: 18px;
    border-width: 5px;
    margin: 5px 5px 5px;
    }
div.pelit {
        padding: 95px;
    }
    body {
    background-image: url("media/mustakuva.png");
    background-size: cover;
    background-attachment: fixed;    
    }

    img {
    border-radius: 20px;
    }

    a:link {
    color:lightblue
    }


h1 {
    color:white;
}
 h3 {
    color: white;
}
p {
    color:white;
}
button {
    background-color: black;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
    
.button1 {width: 250px;}
.button2 {width: 25%;}
.button3 {width: 100%;}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 0px;
}
        
    li {
    float: left;
    }
        
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
       
    }
        
    li a:hover {
        background-color: #111;
    }
    .active {
        background-color: #04AA6D;
    }
.linkit {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
